.categoryPage {
  padding: 2rem;
  color: white;
}

.search {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.productCard {
  background-color: #222;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

button {
  margin-top: 0.5rem;
  padding: 6px 12px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
